{% include 'home.html' %}
  {% block content %}
  <div class="container shop-container">
    <div class="row">
      {% if products %}
        {% for product in products %}
        <div class="md-4 product">
          <img src="{{product.image_url}}" width="200" height="200" />
          <div class="col-md-12 bold">
              {{ product.name }}
          </div>
          <div class="col-md-12">
            ${{ product.price }}
          </div>
            {% if not product.transaction %}
            <a class="col-md-12" href="{% url 'shopping_cart:add_to_cart' product.id %}">Add to Cart</a>
            {% else %}
            <a class="col-md-12" href="{% url 'shopping_cart:remove_from_cart' product.id %}">Remove from Cart</a>
            {% endif %}
            <div class="col-md-12">
              {{product.quantity}} remaining
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock %}
